/* DownloadNow.css */

@keyframes blink {
  50% {
    opacity: 0;
  }
}



.blinking-text {
  animation: blink 1.5s infinite;
}

.shining-button {
  background: linear-gradient(90deg, #7ED56F, #28B485); /* Change these colors to your desired vibrant green shades */
  background-size: 200% auto;
  color: #fff;
  transition: background-position 0.5s;
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.zooming-element {
  animation: zoom 2s infinite;
}

.rotate-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(90deg, #B2FF59, #76FF03); /* Light green to shiny green */
  border: 2px solid transparent;
  border-image: linear-gradient(90deg, #7ED56F, #28B485); /* Border gradient */
  border-image-slice: 1;
  animation: rotateBorder 5s linear infinite; /* Rotate over 5 seconds, adjust as needed */
}

@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.blinking-icon {
  animation: blink 1.5s infinite;
}
.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
